<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.hczdmr.Splash"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="10"
            android:targetSdkVersion="16"/>

    <uses-permission android:name="android.permission.SET_WALLPAPER"></uses-permission>
    <uses-permission android:name="android.permission.WAKE_LOCK"></uses-permission>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>

    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher">
        <activity android:name=".Splash"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".AnaEkran"
                  android:label="AnaEkran Activity">
            <intent-filter>
                <action android:name="android.intent.action.ANAEKRAN"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".Menu"
                  android:label="Menu Activity">
            <intent-filter>
                <action android:name="android.intent.action.MENU"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".TextPlay"
                  android:label="TextPlay Activity">
            <intent-filter>
                <action android:name="android.intent.action.TEXTPLAY"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".Email"
                  android:label="Email Activity">
            <intent-filter>
                <action android:name="android.intent.action.EMAIL"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".Kamera"
                  android:label="Kamera Activity"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.KAMERA"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".Data"
                  android:label="Data Activity">
            <intent-filter>
                <action android:name="android.intent.action.DATA"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".OpenedClass"
                  android:label="OpenedClass Activity">
            <intent-filter>
                <action android:name="android.intent.action.OPENEDCLASS"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".Hakkimizda"
                  android:label="Hakkimizda Activity"
                  android:theme="@android:style/Theme.Dialog">
            <intent-filter>
                <action android:name="android.intent.action.HAKKIMIZDA"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".Ayarlar"
                  android:label="Ayarlar Activity">
            <intent-filter>
                <action android:name="android.intent.action.AYARLAR"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".GFX"
                  android:label="GFX Activity">
            <intent-filter>
                <action android:name="android.intent.action.GFX"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".GFXSurface"
                  android:label="GFXSurface Activity">
            <intent-filter>
                <action android:name="android.intent.action.GFXSURFACE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".SoundStuff"
                  android:label="SoundStuff Activity">
            <intent-filter>
                <action android:name="android.intent.action.SOUNDSTUFF"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".Slider"
                  android:label="Slider Activity">
            <intent-filter>
                <action android:name="android.intent.action.SLIDER"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".Tabs"
                  android:label="Tabs Activity">
            <intent-filter>
                <action android:name="android.intent.action.TABS"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".SimpleBrowser"
                  android:label="SimpleBrowser Activity">
            <intent-filter>
                <action android:name="android.intent.action.SIMPLEBROWSER"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".Flipper"
                  android:label="Flipper Activity">
            <intent-filter>
                <action android:name="android.intent.action.FLIPPER"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".SharedPrefs"
                  android:label="SharedPrefs Activity">
            <intent-filter>
                <action android:name="android.intent.action.SHAREDPREFS"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".InternalData"
                  android:label="InternalData Activity">
            <intent-filter>
                <action android:name="android.intent.action.INTERNALDATA"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".ExternalData"
                  android:label="ExternalData Activity">
            <intent-filter>
                <action android:name="android.intent.action.EXTERNALDATA"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".SQLiteExample"
                  android:label="SQLiteExample Activity">
            <intent-filter>
                <action android:name="android.intent.action.SQLITEEXAMPLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".SQLView"
                  android:label="SQLView Activity">
            <intent-filter>
                <action android:name="android.intent.action.SQLVIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
    </application>
</manifest>